@page "/create-account"
@page "/account/{UserId}"
@using OnlineRetailersStore.Data.Models
@using OnlineRetailersStore.Data
@inject NavigationManager nav

@code {
    [Parameter] public string UserId { get; set; }
    UserInformation userInfo;
    Sidebar sidebar;
    bool alertVisible = false;
    string home;
    string products;
    string shoppingCart;
    string orderHistory;
    string manageProducts;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(UserId))
        {
            // Query for user info so we can set the object and pass into data bindings into the blazorise front end component library below
            userInfo = UserService.GetUserInformationById(UserId);
            home = $"home/{UserId}";
            products = $"products/{UserId}";
            shoppingCart = $"shopping-cart/{UserId}";
            orderHistory = $"order-history/{UserId}";
            manageProducts = $"manage-products/{UserId}";
        }
        else
        {
            userInfo = new UserInformation();
            userInfo.BankAccount.ExpirationDate = DateTime.Now;
            userInfo.User.Retailer = false;
            home = "/";
            products = "/";
            shoppingCart = "/";
            orderHistory = "/";
        }
    }

    private void Save()
    {
        alertVisible = UserService.SaveUser(userInfo);
        nav.NavigateTo("account/" + userInfo.User.Id);
    }
}

<div class="sidebar-nav">
    <Sidebar @ref="sidebar">
        <SidebarContent>
            <SidebarBrand>
                <a href="/products">Online Retailers Store</a>
            </SidebarBrand>
            <SidebarNavigation>
                <SidebarItem>
                    <SidebarLink To=@home Title="Home">
                        <Icon Name="IconName.Home" Margin="Margin.Is3.FromRight" />Home
                    </SidebarLink>
                </SidebarItem>
                <SidebarItem>
                    <SidebarLink Title="Account">
                        <Icon Name="IconName.Fingerprint" Margin="Margin.Is3.FromRight" />Account
                    </SidebarLink>
                </SidebarItem>
                @if (!userInfo.User.Retailer)
                {
                    <SidebarItem>
                        <SidebarLink To=@products Title="Products">
                            <Icon Name="IconName.Gift" Margin="Margin.Is3.FromRight" />Products
                        </SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To=@shoppingCart Title="Shopping Cart">
                            <Icon Name="IconName.ShoppingCart" Margin="Margin.Is3.FromRight" />Shopping Cart
                        </SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To=@orderHistory Title="Order History">
                            <Icon Name="IconName.History" Margin="Margin.Is3.FromRight" />Order History
                        </SidebarLink>
                    </SidebarItem>
                }
                else
                {
                    <SidebarItem>
                        <SidebarLink To=@manageProducts Title="Manage Products">
                            <Icon Name="IconName.CheckSquare" Margin="Margin.Is3.FromRight" />Manage Products
                        </SidebarLink>
                    </SidebarItem>
                }
                <SidebarItem>
                    <SidebarLink To="/" Title="Sign out">
                        <Icon Name="IconName.User" Margin="Margin.Is3.FromRight" />Sign out
                    </SidebarLink>
                </SidebarItem>
            </SidebarNavigation>
        </SidebarContent>
    </Sidebar>
</div>

<div class="content-wrap">

    @if (!string.IsNullOrEmpty(UserId))
    {
        <h2 class="center-header">Edit Account Details</h2>
    }
    else
    {
        <h2 class="center-header">Create Account</h2>
    }

    <EditForm Model="@userInfo" OnValidSubmit="Save" Context="OrderService">
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">First Name</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@userInfo.User.FirstName" Required></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Last Name</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@userInfo.User.LastName" Required></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Username</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@userInfo.User.Username" Required></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Password</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@userInfo.User.Password" Required></TextEdit>
            </FieldBody>
        </Field>

        @if (!userInfo.User.Retailer)
        {
            <h4 class="sub-header">Address</h4>

            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Address1</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <TextEdit @bind-Text="@userInfo.Address.Address1" Required></TextEdit>
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Address2</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <TextEdit @bind-Text="@userInfo.Address.Address2"></TextEdit>
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">City</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <TextEdit @bind-Text="@userInfo.Address.City" Required></TextEdit>
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">State</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <TextEdit @bind-Text="@userInfo.Address.State" Required></TextEdit>
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Zip Code</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <NumericEdit @bind-Value="@userInfo.Address.ZipCode" Required></NumericEdit>
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Country</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <TextEdit @bind-Text="@userInfo.Address.Country" Required></TextEdit>
                </FieldBody>
            </Field>

            <h4 class="sub-header">Bank Information</h4>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Name</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <TextEdit @bind-Text="@userInfo.BankAccount.Name" Required></TextEdit>
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Card Number</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <TextEdit @bind-Text="@userInfo.BankAccount.CardNumber" Required></TextEdit>
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Expiration</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <DateEdit @bind-Date="@userInfo.BankAccount.ExpirationDate" Required></DateEdit>
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">CVC</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is5">
                    <NumericEdit @bind-Value="@userInfo.BankAccount.Cvc" Required></NumericEdit>
                </FieldBody>
            </Field>
        }

        <Button class="submit-button" Type="ButtonType.Submit" Color="Color.Dark">Save</Button>
        <Alert Color="Color.Success" @bind-Visible="@alertVisible">
            <AlertDescription>
                Your save was successful
            </AlertDescription>
            <CloseButton />
        </Alert>
    </EditForm>
</div>