@page "/create-account"
@page "/account/{CustomerId}"
@using OnlineRetailersStore.Data.Models
@using OnlineRetailersStore.Data
@inject NavigationManager nav

@code {
    [Parameter] public string CustomerId { get; set; }
    CustomerInformation customerInfo;
    bool alertVisible = false;
    string home;
    string products;
    string shoppingCart;
    string orderHistory;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(CustomerId))
        {
            // Query for customer info so we can set the object and pass into data bindings into the blazorise front end component library below
            customerInfo = CustomerService.GetCustomerInformationById(CustomerId);
            home = $"home/{CustomerId}";
            products = $"products/{CustomerId}";
            shoppingCart = $"shopping-cart/{CustomerId}";
            orderHistory = $"order-history/{CustomerId}";
        }
        else
        {
            customerInfo = new CustomerInformation();
            customerInfo.BankAccount.ExpirationDate = DateTime.Now;
            home = $"/";
            products = $"/";
            shoppingCart = $"/";
            orderHistory = $"/";
        }
    }

    private void Save()
    {
        alertVisible = CustomerService.SaveCustomer(customerInfo);
        nav.NavigateTo("account/" + customerInfo.Customer.Id);
    }
}

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light">
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To=@home>Home</BarLink>
            </BarItem>
            <BarItem Style="background-color:darkgrey">
                <BarLink>Account</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To=@products>Products</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To=@shoppingCart>Shopping Cart</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To=@orderHistory>Order History</BarLink>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>

<div class="content-wrap">

    @if (!string.IsNullOrEmpty(CustomerId))
    {
        <h2 class="center-header">Edit Account Details</h2>
    }
    else
    {
        <h2 class="center-header">Create Account</h2>
    }

    <EditForm Model="@customerInfo" OnValidSubmit="Save" Context="OrderService">
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">First Name</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.Customer.FirstName"></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Last Name</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.Customer.LastName"></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Username</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.Customer.Username"></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Password</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.Customer.Password"></TextEdit>
            </FieldBody>
        </Field>

        <h4 class="sub-header">Address</h4>

        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Address1</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.Address.Address1"></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Address2</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.Address.Address2"></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">City</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.Address.City"></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">State</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.Address.State"></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Zip Code</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <NumericEdit @bind-Value="@customerInfo.Address.ZipCode"></NumericEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Country</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.Address.Country"></TextEdit>
            </FieldBody>
        </Field>

        <h4 class="sub-header">Bank Information</h4>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Name</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.BankAccount.Name"></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Card Number</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit @bind-Text="@customerInfo.BankAccount.CardNumber"></TextEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">Expiration</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <DateEdit @bind-Date="@customerInfo.BankAccount.ExpirationDate"></DateEdit>
            </FieldBody>
        </Field>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2.Is2.WithOffset">CVC</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <NumericEdit @bind-Value="@customerInfo.BankAccount.Cvc"></NumericEdit>
            </FieldBody>
        </Field>

        <Button class="submit-button" Type="ButtonType.Submit" Color="Color.Dark">Save</Button>
        <Alert Color="Color.Success" @bind-Visible="@alertVisible">
            <AlertDescription>
                Your save was successful
            </AlertDescription>
            <CloseButton />
        </Alert>
    </EditForm>
</div>