@page "/order-history/{CustomerId}"
@using OnlineRetailersStore.Data.Models
@using OnlineRetailersStore.Data

@inject NavigationManager nav

@code {
    [Parameter] public string CustomerId { get; set; }
    List<OrderHistory> customerOrders;
    Sidebar sidebar;
    Customer customer;

    bool alertVisible = false;
    string home;
    string account;
    string products;
    string shoppingCart;
    string orderHistory;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(CustomerId))
        {
            customer = CustomerService.GetCustomerById(CustomerId);
            home = $"home/{CustomerId}";
            account = $"account/{CustomerId}";
            products = $"products/{CustomerId}";
            shoppingCart = $"shopping-cart/{CustomerId}";
            orderHistory = $"order-history/{CustomerId}";
        }
        else
        {
            home = $"/";
            account = $"/";
            products = $"/";
            shoppingCart = $"/";
            orderHistory = $"/";

        }

        customerOrders = OrderHistoryService.OrdersByCustomerId(CustomerId);

    }


}


<div class="sidebar-nav">
    <Sidebar @ref="sidebar">
        <SidebarContent>
            <SidebarBrand>
                <a href="/products">Online Retailers Store</a>
            </SidebarBrand>
            <SidebarNavigation>
                <SidebarItem>
                    <SidebarLink To=@home Title="Home">
                        <Icon Name="IconName.Home" Margin="Margin.Is3.FromRight" />Home
                    </SidebarLink>
                </SidebarItem>
                <SidebarItem>
                    <SidebarLink Title="Account">
                        <Icon Name="IconName.Fingerprint" Margin="Margin.Is3.FromRight" />Account
                    </SidebarLink>
                </SidebarItem>
                <SidebarItem>
                    <SidebarLink To=@products Title="Products">
                        <Icon Name="IconName.Gift" Margin="Margin.Is3.FromRight" />Products
                    </SidebarLink>
                </SidebarItem>
                <SidebarItem>
                    <SidebarLink To=@shoppingCart Title="Shopping Cart">
                        <Icon Name="IconName.ShoppingCart" Margin="Margin.Is3.FromRight" />Shopping Cart
                    </SidebarLink>
                </SidebarItem>
                <SidebarItem>
                    <SidebarLink To=@orderHistory Title="Order History">
                        <Icon Name="IconName.History" Margin="Margin.Is3.FromRight" />Order History
                    </SidebarLink>
                </SidebarItem>
            </SidebarNavigation>
        </SidebarContent>
    </Sidebar>
</div>

<div class="content-wrap">
    <h2 class="center-header">Online Retailers Store</h2>
    <h2 class="center-header">Welcome @customer.FirstName</h2>
</div>
<div class="table-section" style="margin-left: 250px; margin-right: 50px; }">
    <table style="width: 100%; margin: auto;">
        <tr>
            <th style="text-align:center">Order Id</th>
            <th style="text-align:center">Product Id</th>
            <th style="text-align:center">Product Name</th>
            <th style="text-align:center">Quantity</th>
            <th style="text-align:center">Total Price</th>
        </tr>
    
        @foreach(var order in customerOrders)
        {
        <tr>
            <td style="text-align:center">@order.OrderId</td>
            <td style="text-align:center">@order.ProductId</td>
            <td style="text-align:center">@order.Name</td>
            <td style="text-align:center">@order.Quantity</td>
            <td style="text-align:center">$@((order.Price * order.Quantity).ToString())</td>
        </tr>
        }
    </table>
</div>